:root {
	--main: #ffffff;
	--firstColor: #F5B82E;
	--secondColor: #F4AC32;
	--thirdColor: #6B2737;
	--fourthColor: #003049;
}

/* Nous cassons (reset) l'effet d'héritage pour toutes les balises susceptibles d'être concernées */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	text-decoration: none;
}

/* HEADER */
header {
	display: flex;
	background-color: var(--firstColor);
}

header>img {
	width: 100px;
}

/*  MAIN */
#main-container {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}
#intro {
	width: 100%;
	border: solid 1px black;
	text-align: center;
	height: 200px;
}

/* CARROUSEL IMAGES */
#carrousel-images {
	border: solid 1px black;
	min-height: 300px;
	margin: 2%;
	border-radius: 10px;
}

#cards-container {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	margin: 20px;
}

.card {
	border: 2px solid var(--secondColor);
	border-radius: 10px;
	margin: 8px;
	padding: 6px;
	background-color: var(--thirdColor);
	color: var(--main);
	width: 30%;
	height: 150px;
}


/* FOOTER */
footer {
	background-color: var(--fourthColor);
	color: var(--main);
	height: 200px;
}